<br><br>
<div style="margin-left: 50px; font-size: large;">
  
<div class="row" style="align-items: center">
  <label>Select day: &nbsp;&nbsp;</label>
    <ng-multiselect-dropdown
    [placeholder]="'Selecte Day'"
    [data]="days"
    [settings]="dropdownSettings1"
    (onSelect)="onItemSelect($event)"
  >
  </ng-multiselect-dropdown>
</div><br>

<div class="row" style="align-items: center">
  <label>Select network line: &nbsp;&nbsp;</label>
  <ng-multiselect-dropdown
    [placeholder]="'Selecte Network Line'"
    [data]="nlines"
    [settings]="dropdownSettings2"
    (onSelect)="onSelectLine($event)"
  >
  </ng-multiselect-dropdown>
</div><br>

  <div *ngIf="selectedLine" class="row" style="align-items: center">
    <label>Time: &nbsp;&nbsp;</label>
    <li *ngFor="let d of departures">
      {{d.Time}}
      <button type="button" (click)="DeleteExistingDeparture(d.Id)">Delete</button>
    </li>
    <br><br><br>&nbsp;&nbsp;
    <form [formGroup]="DepartureForm" (ngSubmit)="saveChanges()">
      <div class="column" formArrayName="time">
        <li *ngFor="let t of time.controls; let i=index">
          <label>Time: &nbsp;&nbsp;</label>
            <input type="time" [formControlName]="i">&nbsp;&nbsp;
            <button type="button" (click)="DeleteDeparture(i)">Delete</button>
        </li>
        <button type="button" (click)="addTime()">Add time</button>
      </div><br>
    <button style="width: 250px" type="submit">Save changes</button>
  </form>
</div>
</div>
