<div>
  <div>
    <label for="lNumber">Line Number</label>
    <input id="lNumber" name="lNumber" [value]="selectedNumber" (input)="selectedNumber = $event.target.value" ([ngModel])="selectedNumber" type="number" placeholder="Line Number"><br>
  </div>
  <div>
    <label>Select line type:</label>
    <ng-multiselect-dropdown
    [placeholder]="'Selecte Line'"
    [data]="lineTypes"
    [settings]="dropdownSettings"
    (onSelect)="onTypeSelect($event)"
    ([ngModel])="selectedType"
  >
  </ng-multiselect-dropdown>
  </div>
  <div>
    <label>Select stations:</label>
    <ng-multiselect-dropdown
    [placeholder]="'Select Stations'"
    [data]="nlStations"
    [settings]="dropdownSettings2"
    (onSelect)="onStationSelect($event)"
    (onSelectAll)="onStationAllSelect($event)"
    (onDeSelectAll)="onStationAllDeSelect()"
    (onDeSelect)="onStationDeSelect($event)"
    ([ngModel])="selectedStations"
  >
  </ng-multiselect-dropdown>
  </div>
  <div>
    <label>Select schedule:</label>
    <ng-multiselect-dropdown
    [placeholder]="'Select schedule'"
    [data]="schedule"
    [settings]="dropdownSettings3"
    (onSelect)="onScheduleSelect($event)"
    (onSelectAll)="onScheduleAllSelect($event)"
    (onDeSelectAll)="onScheduleAllDeSelect()"
    (onDeSelect)="onScheduleDeSelect($event)"
    ([ngModel])="selectedSchedule"
  >
  </ng-multiselect-dropdown>
  </div>
  <form [formGroup]="LineAddForm">
    <div>
      <div formArrayName="Departures"><br>
        <button type="button" (click)="addTime()">Add Departure</button>
        <div *ngFor="let t of Departures.controls; let i=index">
          <label>Time: 
            <input type="time" [formControlName]="i">
          </label>
          <button (click)="deleteDeparture(i)">Delete</button>
        </div>
      </div>
      </div><br><br>
  </form>
  <button (click)="addNewLine()">Add Line</button>
</div>