<form [formGroup]="StationAddForm" (ngSubmit)="addStation()">
  
  <input type="text" formControlName="Name" required>
  
  <input type="text" formControlName="Address">
  
  <select multiple ng-model="selectedType" class="stationLines" formControlName="NLine">
    <option *ngFor="let line of stationLines"
    [value]="line.LineNumber">
      {{line.LineNumber}}
  </option>
  </select>
<!--
  <angular2-multiselect 
    [data]="stationLines" 
    formControlName="NLine"
    [settings]="dropdownSettings"
    (onSelect) = "onItemSelected($event)">
  </angular2-multiselect>-->
  
  <button type="submit">Add station</button>
</form>
