
<form [formGroup]="StationAddForm" (ngSubmit)="addStation()"
style="margin-left: 50px; font-size: large;"><br>

<div class="row">
  <div class="column">

<div class="row" style="align-items: center">
  <label>Insert station number:&nbsp;&nbsp;</label>
  <input type="text" formControlName="Name" placeholder="Station Name" required>
  </div><br>

  <div class="row" style="align-items: center">
    <label>Insert address:&nbsp;&nbsp;</label>
    <input type="text" formControlName="Address" placeholder="Address">
  </div><br>

<div class="row" style="align-items: center">
  <label>Choose lines:&nbsp;&nbsp;</label>
  <ng-multiselect-dropdown
  [placeholder]="'Select LineNumbers'"
  formControlName="NLine"
  [data]="stationLines"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
>
</ng-multiselect-dropdown>
</div>
</div>
<div class="column" style="width: 150px"></div>

  <div class="column">
    <app-map (childEvent)="getCoordsFromMap($event)"></app-map>
  </div><br>
</div>

<button style="width: 600px;" type="submit">Add station</button>
</form>