<div *ngIf="user">
    <h2>{{user.name | uppercase}} Details</h2>
    <div><span>Id: </span>{{user.Id}}</div>
    <div class="col-md-10">
        <img [src]="user.Document || 'http://placehold.it/380x500'" alt="document" style="width: 450px; height:500px;"/>
    </div>
    <div class="col-md-10">
        <div class="row">
            <label><span>Firstname: </span> {{user.Firstname}}</label>
        </div>
        <div class="row">
            <label><span>Lastname: </span> {{user.Lastname}}</label>
        </div>
        <div class="row">
            <label><span>Type: </span> {{user.Type}}</label>
        </div>
        <div class="row">
            <label><span>Validation: </span> {{user.Validation}}</label>
        </div>
    </div>
    <button (click)="DenyClick()">Deny</button>
    <button (click)="ApproveClick()">Approve</button>
    <label>{{Feedback}}</label>
</div>
  