<td style="width: 150px; font-size:medium; text-align:center; background-color: rgb(110, 157, 165)">
<a style="color: white" href="Controller/Validate">Validate users</a>
</td>
<td style="width: 150px; font-size:medium; text-align:center; background-color:rgb(110, 157, 165)">
<a style="color: white" href="Controller/CheckTicket">Check Ticket</a>
</td>
<td style="width: 150px; font-size:medium; text-align:center; background-color: rgb(110, 157, 165)">
<a style="color: white" href="Logout">Logout</a>
</td>
<router-outlet></router-outlet>