<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<body>
  <div class="navbar nav nav-bar top">
    <div class="container col-md-5">
      <ul>
        <li><a href="\Home">Home</a></li>
        <li><a href="\Register">Register</a></li>
        <li><a href="\Login">Login</a></li>
        <li><a href="\About">About</a></li>
        <li><a href="\TicketPrice">Ticket Price</a></li>
      </ul>
    </div>
  </div>

  <div *ngIf="Pricelist">
    <div class="col-md-5">
        <div class="row" style="color: white">
          <table style="border-color:antiquewhite" border="3px;">
            <td colspan="2" style="font-style: italic; font-size:x-large; text-align: center">
              Cenovnik
            </td>
                <tr *ngFor="let price of Pricelist.TicketPrice | keyvalue">
                  <td style="width: 150px; text-align: center; font-size: medium">
                    {{price.key}}
                  </td> 
                  <td style="width: 150px; text-align: center; font-size: medium">
                    {{price.value}}rsd
                  </td>
                </tr>
          </table>
        </div>
      </div>
  </div>
</body>