<div *ngIf="selectedLine">

   <form [formGroup]="EditLineForm" (ngSubmit)="updateLine()"
    style="margin-left: 50px; font-size: large;"><br>
  
    <div class="row" style="align-items: center">
      <label>Line number: &nbsp;&nbsp;</label>
      <input type="number" formControlName="LineNumber" placeholder="LineNumber" [value]="selectedLine.LineNumber">
    </div><br>

    <div class="row" style="align-items: center">
        <label>Select line type: &nbsp;&nbsp;</label>
        
        <ng-multiselect-dropdown
        [placeholder]="'Selecte Line'"
        [data]="selectedLine.AllTypes"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)"
        formControlName="Type"
      >
      </ng-multiselect-dropdown>
    </div><br>

    <div class="row" style="align-items: center">
        <label>Choose stations: &nbsp;&nbsp;</label>
        <select multiple ng-model="selectedType" class="selectedLine.AllStations" formControlName="Stations">
          <option *ngFor="let station of selectedLine.AllStations"
          [value]="station.Name">
            {{station.Name}}
        </option>
        </select>
      </div><br>

      <div class="row" style="align-items: center">
          <label>Choose line type: &nbsp;&nbsp;</label>
        <select multiple ng-model="selectedType" class="selectedLine.AllSchedule" formControlName="ScheduleDays">
          <option *ngFor="let s of selectedLine.AllSchedule"
          [value]="s">
            {{s}}
        </option>
        </select>
      </div><br>

      <div class="row" style="align-items: center">
          <label>Insert departures: &nbsp;&nbsp;</label>
        <div formArrayName="Departures">
          <button type="button" (click)="addTime()">Add time</button><br>
          <div *ngFor="let t of selectedLine.Departures">
              <label>Time: 
                <input type="text" [value]="t.Time" readonly>
                <button type="button" (click)="DeleteDeparture(t.Id)">Delete</button>
              </label>
            </div>
          <div *ngFor="let t of Departures.controls; let i=index">
            <label>Time: 
              <input type="time" [formControlName]="i">
            </label>
          </div>
        </div>
        </div><br>
      
        <button style="width: 250px" type="submit">Add Line</button>
      
      </form>
</div>
