<div>
  <h3 style="text-align: center">Please provide us with your documentation</h3>
  <br><br>
  <form [formGroup]= "DocumentForm" (ngSubmit)="addDocumentation()" style="text-align:left; margin-left: 15px">
      <label>Select type: &nbsp;&nbsp;</label>
        <select ng-model="selectedType" formControlName="Type"  class="passangerTypes">
          <option *ngFor="let type of passangerTypes" 
            [value]="type">
          {{type}}
        </option>
        </select>
        <br>
        <label>Choose document &nbsp;&nbsp;</label>
        <input type="file" name="Document" (change)="processFile($event)">
        <br>
    <input type="submit" style="width: 400px"/>
  </form>
  <p style="text-align:left; margin-left: 15px">... or you can skip it: <a href="/Passenger">Click here!</a></p>
</div>