<td style="width: 150px; font-size:medium; text-align:center; background-color: rgb(110, 157, 165)">
<a  style="color: white" href="Passenger/MyProfile">My profile</a>
</td>
<td style="width: 150px; font-size:medium; text-align:center; background-color: rgb(110, 157, 165)">
<a style="color: white" href="Passenger/BuyTicket">Buy Ticket</a>
</td>
<td style="width: 150px; font-size:medium; text-align:center; background-color: rgb(110, 157, 165)">
<a style="color: white" href="Logout">Logout</a>
</td>
<router-outlet></router-outlet>