<br>
<div *ngIf="selectedStation">
  <form [formGroup]="EditStationForm" (ngSubmit)="updateStation()"
  style="margin-left: 50px; font-size: large;"><br>
    
  <div class="row">
    <div class="column">

      <h5>Station info: </h5><br>
      <div class="row" style="align-items: center">
        <label>Station name:  &nbsp;&nbsp;</label>
        <input type="text" formControlName="Name">
      </div><br>

      <div class="row" style="align-items: center">
        <label>Address: &nbsp;&nbsp;</label>
        <input type="text" formControlName="Address">
      </div><br>

      <div class="row" style="align-items: center">
          <label>Select lines: &nbsp;&nbsp;</label>
          <select style="width: 50px;" multiple ng-model="selectedType" class="selectedStation.NLine" formControlName="NLine">
              <option *ngFor="let line of selectedStation.NLine"
              [value]="line">
                {{line}}
            </option>
            </select>
      </div></div>
      
      <div class="column" style="width: 150px"></div>

      <div class="column">
      <app-map [busLocation]="stationLocation" (childEvent)="getCoordsFromMap($event)"></app-map>
    </div><br>
</div>

  <button style="width: 600px" type="submit" class="btn btn-primary btn-block btn-large">Update station</button>
  </form>
</div>
