<div class="container">
    <div class="row" style="padding-top: 150px; padding-left: 200px;">
      <tr>
        <div class="col-mg-7">
          <label>Select ticket: <select  (change)="onChange($event.target.value)">
            <option *ngFor="let type of Pricelist" [value]="type"> {{type}} </option>
          </select></label>
        </div>
      </tr>
      <tr>
        <div class="col-mg-10">
          <label>Ticket Price: <input readonly [value]="TicketPrice"></label>
          <label>RSD</label>
        </div>
        <app-paypal [price]="TicketPrice" [type]="selectedType"></app-paypal>    
      </tr>
    </div>
</div>