<br>
<div *ngIf="Pricelist"  style="margin-left: 50px; font-size: large; align-items: center">
    <div class="row">
        <ul>
            <li *ngFor="let price of Pricelist.TicketPrice | keyvalue">
                {{price.key}}  
                <input name="{{price.key}}" type="number"([ngModel])="price.value" 
                    (input)="ChangeValue($event.target)" value="{{price.value}}">
            </li>
        </ul>
    </div>
    <button style="width: 400px" type="button" class="btn btn-primary"(click)="ChangePrices()">Change Prices</button>
</div>
