<div style="text-align: center; font-weight:500; font-size: medium; text-shadow: rgb(68, 87, 92)">
    <a style="margin-right: 50px" href="Admin/AddLine">Add line</a>
    <a style="margin-right: 50px" href="Admin/AddStation">Add station</a>
    <a style="margin-right: 50px" href="Admin/AddTimetable">Add timetable</a>
    <a style="margin-right: 50px" href="Admin/LineEdit">Edit lines</a>
    <a style="margin-right: 50px" href="Admin/StationEdit">Edit stations</a>
    <a style="margin-right: 50px" href="Admin/TimetableEdit">Edit timetable</a>
    <a style="margin-right: 50px" href="Admin/PricelistEdit">Edit pricelist</a>
    <a style="margin-right: 50px" href="/Logout">Logout</a>
  </div>
<router-outlet></router-outlet>
