  <div class="row">
  <div class="col-md-3">
    Welcom Admin!
  </div>
  <div class="col-md-9">
  <div class="row">
    <a href="Admin/LineEdit">Edit lines</a>
  </div>
  <div class="row">  
    <a href="Admin/StationEdit">Edit stations</a>
  </div>
  <div class="row">
    <a href="Admin/TimetableEdit">Edit timetable</a>
  </div>
  <div class="row">
    <a href="Admin/PricelistEdit">Edit pricelist</a>
  </div>
  <div class="row">
    <a href="Admin/AddLine">Add line</a>
  </div>
  <div class="row">
    <a href="Admin/AddStation">Add station</a>
  </div>
  <div class="row">
    <a href="Admin/AddTimetable">Add timetable</a>
  </div>
</div>

<router-outlet></router-outlet>
